<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ram.name %>
</p>

<p>
  <b>Country:</b>
  <%= @ram.country %>
</p>

<p>
  <b>Like:</b>
  <%= @ram.like %>
</p>

<p>
  <b>Friend:</b>
  <%= @ram.friend %>
</p>


<%= link_to 'Edit', edit_ram_path(@ram) %> |
<%= link_to 'Back', rams_path %>
